<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <h2 class="logo">Domina Cortes</h2>
        <div class="menu-botoes">
            <div><button routerLink="/cadastro">Cadastrar cliente</button></div>
            <div><button routerLink="/cadastro-funcionario">Cadastrar funcionário</button></div>
            <div><button routerLink="/servico">Cadastrar serviço</button></div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="centralizar">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>